@use "mixins/flex" as *;

.container {
  @include flex(flex-start, stretch, column);
  height: 100vh;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.actions-container {
  @include flex(flex-start, center, column);
  height: auto;
  width: 100%;
  flex-shrink: 0;
  margin-bottom: 1rem;
}

.table-container {
  @include flex(flex-start, stretch, column);
  flex: 1;
  width: 100%;

  min-height: 0;
  overflow: hidden;
}

::ng-deep .p-menu-item-link {
  font-family: "Space Grotesk", "Noto Sans", sans-serif !important;
}
