@use 'mixins/flex' as *;

.container {
  @include flex(flex-start, stretch, column);
  height: 100vh;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.schedule-header {
  @include flex(space-between, center, row);
  width: 100%;
  flex-shrink: 0;
  margin-bottom: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.actions-container {
  @include flex(flex-start, center, column);
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.table-container {
  @include flex(flex-start, stretch, column);
  flex: 1;
  width: 100%;

  min-height: 0;
  overflow: hidden;
}

::ng-deep .p-menu-item-link {
  font-family: 'Space Grotesk', 'Noto Sans', sans-serif !important;
}

.is-open {
  --p-datatable-row-background: var(--secondary-100);
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
