@use "../../../../../../libs/shared/ui/src/lib/scss/mixins/mixins" as *;

:host {
  width: 100%;
  overflow: auto;
}

.conversation-item {
  @include flex(space-between, center, row);
  border-top: 1px solid var(--gray-200);
  margin: 0 3rem;
  height: 80px;
  cursor: pointer;
  .align-right {
    @include flex(flex-start, center, row);

    .avatar {
      --p-avatar-background: var(--secondary-100);
      --p-avatar-color: var(--primary-500);
    }

    .message-container {
      @include flex(center, flex-start, column);

      padding-left: 2rem;

      &__recipient {
        font-weight: 600;
        font-size: 1.2rem;
        color: var(--primary-500);
      }

      &__last-message {
        font-size: 1rem;
        color: var(--primary-400);
      }
    }
  }

  .align-left {
    @include flex(space-between, center, row);

    .timestamp {
      font-size: 0.8rem;
      color: var(--gray-500);
      padding-right: 0.5rem;
    }
  }
}
