@use "./app/scss/mixins/_mixins.scss" as *;
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; /* Also remove default padding if present */
}

:root {
  --primary-50: #41a2e9;
  --primary-100: #2f99e6;
  --primary-200: #1985d4;
  --primary-300: #156eaf;
  --primary-400: #10578b;
  --primary-500: #0c4066;
  --primary-600: #062134;
  --primary-700: #000102;
  --primary-800: #000000;
  --primary-900: #000000;
  --primary-950: #000000;

  --secondary-50: #fce1d6;
  --secondary-100: #fbd3c3;
  --secondary-200: #f8b79d;
  --secondary-300: #f59a77;
  --secondary-400: #f37e51;
  --secondary-500: #f0622b;
  --secondary-600: #d4460f;
  --secondary-700: #a0350b;
  --secondary-800: #6b2308;
  --secondary-900: #371204;
  --secondary-950: #1d0902;

  --tertiary-50: #ffffff;
  --tertiary-100: #ffffff;
  --tertiary-200: #fcfeff;
  --tertiary-300: #d6eefc;
  --tertiary-400: #b0dff9;
  --tertiary-500: #8ad0f6;
  --tertiary-600: #56bbf2;
  --tertiary-700: #22a6ee;
  --tertiary-800: #0f87c8;
  --tertiary-900: #0b6494;
  --tertiary-950: #09527a;

  --p-togglebutton-checked-background: var(--secondary-200) !important;
  --p-togglebutton-checked-color: var(--secondary-700) !important;
  --p-select-focus-ring-color: var(--secondary-600) !important;
  --p-select-hover-border-color: var(--secondary-600) !important;
  --p-select-focus-border-color: var(--secondary-600) !important;
  --p-select-focus-ring-shadow: var(--secondary-200) !important;
  --p-iftalabel-focus-color: var(--secondary-500) !important;
  --p-button-outlined-primary-hover-background: var(--secondary-50) !important;
  --p-button-outlined-primary-color: var(--secondary-500) !important;
  --p-button-outlined-primary-border-color: var(--secondary-500) !important;

  --p-menubar-color: var(--primary-500) !important;
  --p-menubar-background: var(--tertiary-50) !important;

  --p-menubar-item-color: var(--primary-500) !important;
  --p-menubar-item-link-color: var(--primary-500) !important;

  --p-checkbox-background: #fff !important;
  --p-checkbox-checked-background: var(--secondary-500) !important;
  --p-checkbox-checked-hover-background: var(--secondary-600) !important;
  --p-checkbox-disabled-background: #f4f4f4 !important;
  --p-checkbox-filled-background: var(--secondary-500) !important;
  --p-checkbox-border-color: #cccccc !important;
  --p-checkbox-hover-border-color: #999999 !important;
  --p-checkbox-focus-border-color: var(--secondary-300) !important;
  --p-checkbox-checked-border-color: var(--secondary-500) !important;
  --p-checkbox-checked-hover-border-color: var(--secondary-600) !important;
  --p-checkbox-checked-focus-border-color: var(--secondary-300) !important;
  --p-slider-handle-background: var(--secondary-500) !important;
  --p-slider-handle-hover-background: var(--secondary-600) !important;
  --p-slider-handle-content-hover-background: var(--secondary-500) !important;
  --p-slider-range-background: var(--secondary-400) !important;
  --p-slider-handle-focus-ring-color: var(--secondary-300) !important;
  --p-slider-handle-focus-ring-offset: var(--secondary-200) !important;
  --p-slider-handle-focus-ring-shadow: var(--secondary-300) !important;
  --p-button-primary-background: var(--secondary-500) !important;
  --p-button-primary-hover-background: var(--secondary-600) !important;
  --p-button-primary-border-color: var(--secondary-500) !important;
  --p-button-primary-hover-border-color: var(--secondary-600) !important;
  --p-autocomplete-focus-border-color: var(--secondary-300) !important;
  --p-autocomplete-shadow: var(--secondary-300) !important;
  --p-inputtext-hover-border-color: var(--secondary-300) !important;
  --p-inputtext-focus-border-color: var(--secondary-300) !important;
  --p-inputtext-focus-ring-shadow	: var(--secondary-200) !important;
}

.container {
  @include flex(center, stretch, column);
  height: 97.5vh;
  flex: 1;
  width: 100%;
  font-family: "Space Grotesk", "Noto Sans", sans-serif;
}

.title {
  cursor: pointer;

  font-size: 26px;
  font-weight: bold;

  &__right {
    color: var(--secondary-500);
  }

  &__left {
    color: var(--primary-500);
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

.slider-container {
  padding: 0rem 0.5rem;
  width: 100%;
}
