@use 'mixins/mixins' as *;

.dashboard-header {
  @include flex(space-between, center, row);
  margin-bottom: 2rem;
  flex-wrap: wrap;
  gap: 1rem;

  .header-content {
    h1 {
      font-size: 2rem;
      color: var(--primary-700);
      margin: 0 0 0.25rem;
    }

    .email {
      color: var(--text-color-secondary);
      margin: 0;
    }
  }

  .header-actions {
    @include flex(flex-end, center, row);
    gap: 0.5rem;
  }
}
