@use "mixins/mixins" as *;

.sub-row {
  @include flex(flex-start, center, row);
  gap: 0.5rem;

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.row {
  @include flex(space-between, center, row);
  width: 100%;
  gap: 1rem;
  
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.team-selector {
  @include flex(flex-end, center, row);
  gap: 0.5rem;
  
  label {
    font-weight: 500;
    white-space: nowrap;
  }
  
  @media (max-width: 768px) {
    width: 100%;
    justify-content: flex-start;
  }
}

.btn-1 {
  margin-right: 1rem;
}

.team-label {
  color: var(--primary-500);
}
