@use "mixins/mixins" as *;

.sub-row {
  @include flex(space-evenly, center, row);
  width: 35%;

  @media (max-width: 1400px) {
    width: 40%;
  }

  @media (max-width: 1283px) {
    width: 45%;
  }

  @media (max-width: 1150px) {
    width: 50%;
  }

  @media (max-width: 1024px) {
    width: 75%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.row {
  @include flex(space-between, center, row);
  width: 100%;
}

.btn-1 {
  margin-right: 1rem;
}
