:host {
  width: 100%;
  overflow: auto;
  padding: 1rem;
  scrollbar-color: var(--secondary-500) var(--gray-50);
}

.messages {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  gap: 1rem;


  &__message {
    display: flex;
    flex-direction: column;
    width: 100%;

    &--contact {
      align-self: flex-start;
      max-width: 50%;
    }

    &--user {
      align-self: flex-end;
      max-width: 50%;
    }
  }
}
