:host {
  width: 100%;
  height: 100%;
  display: block;
}

.messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 15rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: var(--secondary-500) var(--gray-50);
  box-sizing: border-box;


  &__message {
    display: flex;
    flex-direction: column;
    width: 100%;

    &--contact {
      align-self: flex-start;
      max-width: 50%;
    }

    &--user {
      align-self: flex-end;
      max-width: 50%;
    }
  }
}
