@use "../../../scss/mixins/flex" as *;

:host {
  width: 100%;
  padding-top: 0.5rem;
}
.sort-header {
  @include flex(space-between, center, row);
}

.sort-header__results {
  @include flex(flex-start, center, row);
  font-size: 0.9rem;
  color: #64748b;
  width: 30%;
}

.sort-header__search {
  @include flex(flex-start, center, row);
  width: 40%;

  ::ng-deep app-input {
    width: 100%;

    .p-input {
      height: 3.5rem !important;
    }

    .form-field {
      width: 100% !important;
      margin-bottom: 0 !important;

      @media (max-width: 1024px) {
        min-width: 150px !important;
        max-width: 215px !important;
      }
    }
  }
}

.sort-header__sort {
  @include flex(flex-end, center, row);
  width: 30%;

  ::ng-deep app-select {
    .p-select-option-selected {
      background: var(--secondary-100);
      color: var(--secondary-600);
    }

    .p-select {
      height: 3.5rem;
    }
    .form-field {
      min-width: 150px !important;
    }
  }

  ::ng-deep app-icon-select-button {
    .p-selectbutton {
      height: 3.5rem;
    }

    .form-field {
      min-width: 100px !important;
      margin-bottom: 0 !important;
    }
  }
}
