:host {
  display: block;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid var(--primary-500);
}

:host(.theme-dark) {
  --p-menubar-color: var(--primary-100) !important;
  --p-menubar-background: var(--primary-500) !important;
}

:host(.theme-light) {
  p-menubar {
    --p-menubar-color: var(--primary-500) !important;
    --p-menubar-background: transparent;
  }
}
