p-menubar {
  --p-menubar-color: var(--primary-500) !important;
  --p-menubar-background: transparent;
}

p-menubar-item {
  --p-menubar-item-color: var(--primary-500);
}

p-menubar-item-link {
  --p-menubar-item-link-color: var(--primary-500);
}

.title {
  font-weight: bold;
}
