@use "../../../../../libs/shared/ui/src/lib/scss/mixins/mixins" as *;

:host {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

form {
  @include flex(flex-start, center, column);
}

app-input {
  width: 100% !important;
  padding: 0rem 3rem;
}