@use 'mixins/mixins' as *;

:host {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

form {
  @include flex(flex-start, center, column);
}

app-input {
  width: 100% !important;
  padding: 0rem 3rem;
}

.no-conversations {
  @include flex(center, center, column);
  height: 100%;
  gap: 1rem;
  color: var(--text-secondary-color);
}
.no-conversations p-button {
  margin-top: 1rem;
}