@use 'mixins/mixins' as *;

.summary-container {
  @include flex(space-around, center, column);
  width: 100%;
  padding: 1rem;
  min-height: 225px; /* Adjust as needed */

  @media(max-width: 768px) {
    min-height: 400px;
  }

  &__content {
    text-align: center;
    color: var(--primary-500);

    .get-started {
      margin-top: 1.5rem;
    }
  }

  .get-started {
    margin-top: 1.5rem;
  }

  .app-store-badges {
    margin-top: 1.5rem;
  }
}
