@use "mixins/mixins" as *;

.summary-container {
  @include flex(space-around, center, column);
  width: 100%;
  padding: 1rem;
  min-height: 275px; /* Adjust as needed */

  &__content {
    text-align: center;
    color: var(--primary-500);
  }
}
