@use "mixins/mixins" as *;

:host {
    margin-bottom: 1rem;;
}

::ng-deep .p-card {
  background-color: var(--primary-500) !important;
  --p-card-color: white !important;
  border: 0.2px solid var(--gray-100) !important;
}

.content {
  width: 100%;
  &__item {
    width: 100%;
    margin-bottom: .8rem;
    @include flex(space-between, center, row);

    .label {
      color: var(--gray-200);
    }

    .value {
      color: white;
      text-wrap: pretty;
    }
  }
}
