@use "../../../../../libs/shared/ui/src/lib/scss/mixins/mixins" as *;

.navigation {
  width: 155px;
  padding-inline: 10px;
  border-right: 1px solid var(--primary-500);
  height: 100vh;
  background-color: var(--primary-500);

  &__logo-container {
    display: grid;
    grid-template-rows: 60px 1fr;
    font-size: 1.25rem;
  }

  &__logo {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    @include flex(flex-start);
    color: var(--tertiary-50);

    &__ai {
      margin: 0;
      color: var(--secondary-500);
    }
  }

  &__list {
    @include flex(center, flex-start, column);
    padding-inline-start: 0px;
  }

  &__item {
    padding-block: 10px;
    list-style: none;
    color: var(--primary-500);

    & a {
      @include flex(flex-start);
      gap: 8px;
      cursor: pointer;
      text-decoration: none;
      color: var(--tertiary-50);
      transition: all 0.2s ease;
      font-size: 14px;

      &.active {
        color: var(--secondary-500);
        font-weight: 600;
        border-radius: 4px;
        padding: 8px 12px;
      }

      &:hover {
        color: var(--secondary-300);
      }
    }
  }
}
