@use "../../scss/mixins/_mixins.scss" as *;

:host {
  width: 100%;
  overflow: auto;
  padding: 0rem 4rem 1rem 4rem;
  box-sizing: border-box;
}

.card {
  height: 100%;
  width: 100%;

  ::ng-deep .p-card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    background-color: white;

    ::ng-deep .p-card-body {
      text-align: left;
    }

    ::ng-deep .p-card-content {
      width: 100% !important;
      display: block !important;
      justify-content: initial !important;
      align-items: initial !important;
      flex-direction: initial !important;
    }
  }

  .info_row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem 1rem;
    &__item {
      ::ng-deep .form-field {
        min-width: 200px !important;
        max-width: 500px !important;
      }
    }

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
      &__item {
        ::ng-deep .form-field {
          min-width: 200px !important;
          max-width: 100% !important;
          padding: 0rem 1rem;
        }
      }
    }
  }

  .button-group {
    @include flex(flex-end, center, row);
    gap: 1rem;
    margin-top: 1rem;

    ::ng-deep .p-button {
      min-width: 100px;
    }
  }
}
