@use "../scss/mixins/_mixins.scss" as *;

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto 1fr;
  background-color: var(--color-background-primary);

  &__page-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .title {
      &__left {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .header {
      &__name {
        font-size: 14px;
        font-weight: bold;
      }

      &__avatar {
      }
    }

    &__router-outlet {
      overflow: visible;
      flex: 1;
      min-height: 0;
    }
  }
}
