@use "../scss/mixins/_mixins.scss" as *;

.content-container {
  @include flex(center, stretch, row);
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-top: .5rem;
  padding-bottom: 5vh;
}

.sidebar {
  width: 13.5%;
  height: 100%;
  overflow: hidden;  
  box-shadow: 0px 4px 6px -4px lightgray;
}
.content {
  @include flex(flex-start, space-between, column);
  width: 85%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0px 4px 6px -4px lightgray;
}

.header {
  &__avatar {
    @include flex();
  }

  &__name {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
