@use "../scss/mixins/_mixins.scss" as *;

.container {
  @include flex(space-between, flex-start, row);
  height: 97.5%;
  width: 100%;
}

.opponent-list {
  @include flex(center, center, column);
  flex: 1;
}

.list-container {
  @include flex(flex-start, center, column);
}

p-button {
  --p-button-text-secondary-color: var(--secondary-500);
}

.sort-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
}
