@use "mixins/mixins" as *;

.card {
  width: 100%;
  height: 100%;
  max-height: 500px;
  max-width: 600px;
  border-radius: 12px;
  margin-top: 2rem;
}

.password-header {
  text-align: center;
  padding: 1rem 0;

  h2 {
    margin: 0 0 0.5rem 0;
    color: #333;
  }

  p {
    margin: 0;
    color: #666;
    font-size: 0.9rem;
  }
}


.form-actions {
  margin: 2rem 0 1.5rem 0;

  ::ng-deep .p-button {
    height: 3rem;
  }
}

.form-footer {
  text-align: center;

  p {
    margin: 0 0 1rem 0;
    color: #666;

    a {
      color: var(--primary-400);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .forgot-password {
    color: var(--primary-400);
    text-decoration: none;
    font-size: 0.9rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
