@use "../scss/mixins/_mixins.scss" as *;

.header {
  &__name {
    margin-right: 3px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      color: black;
      background-color: lightgray;
    }
  }
}

.main-content {
    @include flex(space-between, center, column);
    height: 97.5vh;
    flex: 1;
    width: 100%;
    overflow: auto;
    font-family: "Space Grotesk", "Noto Sans", sans-serif;
    padding-bottom: 5vh;
    &__section {
        margin-top: 2rem;
        width: 70%;
    }

    &__get-started {
      text-align: center;
    }
}