@use "mixins/mixins" as *;

:host {
  height: 100%;
  width: 100%;
}

.chat-header {
  @include flex(space-between, center, row);

  &__left {
    @include flex(flex-start, center, row);
  }

  &__center {
    @include flex(center, center, column);
    color: var(--primary-500);
  }

  &__right {
    @include flex(flex-end, center, row);
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.ai-enabled {
  --p-button-primary-background: var(--red-500) !important;
  --p-button-primary-hover-background: var(--red-600) !important;
  --p-button-primary-border-color: var(--red-500) !important;
  --p-button-primary-hover-border-color: var(--red-600) !important;
  --p-button-primary-active-background: var(--red-700) !important;
  --p-button-primary-active-border-color: var(--red-700) !important;
}
