@use 'mixins/mixins' as *;

h2 {
  color: var(--primary-500);
}

p {
  text-align: left;
}

.features-container {
  @include flex(center, center, column);
  width: 100%;

  &__cards {
    @include flex(center, center, column);
    flex-wrap: wrap;
    gap: 3rem;
  }

  &__card {
    font-size: 14px;
    width: 65%;
    height: 500px;
    max-height: 500px;
    margin-bottom: 2rem;

    @media (max-width: 1550px) {
      width: 65%;
      height: 500px;
      max-height: 500px;
    }

    ::ng-deep .p-card-body {
      max-height: 500px;
    }
  }

  &__card-image {
    width: 100%;
    background-repeat: no;
    background-position: center;
    background-size: cover;
    padding-bottom: .5rem;
  }
}
