@use 'mixins/mixins' as *;

h2 {
  color: var(--primary-500);
}

p {
  text-align: left;
}

.features-container {
  @include flex(center, center, column);
  width: 100%;

  &__cards {
    @include flex(center, center, column);
    flex-wrap: wrap;
    gap: 2rem;

    @media (max-width: 1024px) {
      gap: 0.5rem;
    }
  }

  &__card {
    font-size: 14px;
    width: 100%;
    height: 680px;
    max-height: 680px;
    margin-bottom: 2rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    ::ng-deep .p-card-body {
      max-height: 680px !important;
    }
    @media (max-width: 1024px) {
      width: 100%;
      height: 390px;
      max-height: 390px !important;
      margin-bottom: 0.5rem;
      ::ng-deep .p-card-body {
        max-height: 390px !important;
      }
    }
  }

  &__card-image {
    width: 100%;
    background-repeat: no;
    background-position: center;
    background-size: cover;
    padding-bottom: 0.5rem;
  }
}

.title_row {
  @include flex(space-between, center, row);
  font-size: 1.25rem;

  @media (max-width: 1024px) {
    font-size: 0.975rem;
  }
}
