@use "../../../../../../libs/shared/ui/src/lib/scss/mixins/mixins" as *;

.contact-container {
  @include flex(flex-start, center, column);
  height: 97.5vh;
  flex: 1;
  width: 100vw;
  overflow: auto;
}

.card {
  width: 100%;
  height: 100%;
  max-height: 500px;
  max-width: 600px;
  border-radius: 12px;
  margin-top: 2rem;
}

.contact-header {
  text-align: center;
  padding: 1rem 0;

  h2 {
    margin: 0 0 0.5rem 0;
    color: #333;
  }

  p {
    margin: 0;
    color: #666;
    font-size: 0.9rem;
  }
}

p-button {
  width: 350px;
}
