::ng-deep .dialog {
  width: 50rem !important;
  max-height: 82vh !important;

  .p-dialog {
    max-height: 82vh !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .p-dialog-content {
    flex: 1 !important;
    overflow-y: auto !important;
    max-height: calc(82vh - 70px) !important; // Account for header and footer
    padding: .5rem 1.5rem !important;
  }

  .p-dialog-header {
    flex-shrink: 0 !important;
    border-bottom: 1px solid #e5e7eb;
    --p-dialog-header-padding: 0.5rem !important;
    height: 70px;
  }

  .p-dialog-footer {
    flex-shrink: 0 !important;
    border-top: 1px solid #e5e7eb;
    --p-dialog-footer-padding: 0.5rem 1.5rem !important;
  }
}
