@use "../scss/mixins/_mixins.scss" as *;

::ng-deep .p-menu-list {
  @include flex(flex-start, flex-start, column);
  height: 100%;
  width: 100%;
  overflow: hidden;
  gap: 8px;
  padding-left: 12px;
  padding-block: 4px;

}

.sidebar-container {
  height: 100%;
  width: 100%;

  //border-right: solid 2px lightgray;
}
::ng-deep .p-menu {
  min-width: 100%;
  border-color: none;
}
